.accounts_view_container{
    -fx-background-color: linear-gradient(to bottom, #f4f7fa, #e8ecf3);
}

.accounts_view_container Text{
    -fx-fill: #888888;
    -fx-font: 1.4em;
    -fx-font-family: "Calibri Light";
}

.accounts_view_container VBox{
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #888888;
    -fx-padding: 10;
    -fx-spacing: 15;
}

.accounts_view_container VBox Text{
    -fx-font-size: 1.2em;
}

.accounts_view_container VBox Label{
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.accounts_view_container TextField {
    -fx-pref-width: 230;
    -fx-pref-height: 35;
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3,0,0,3);
}

.accounts_view_container Button{
    -fx-background-color: linear-gradient(to right, #02326E, #00264D);
    -fx-background-radius: 6;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 3, 0);
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 230;
    -fx-font-size: 1.5em;
}

.accounts_view_container Button:hover{
    -fx-cursor: hand;
}