

.main_menu_container {
    -fx-background-color: #f4f7fa;
    -fx-alignment: center;
}

.left_container {
    -fx-background-color: #f4f7fa;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(two-pass-box, #AAAAAA, 5, 0, 0, 4);
}

.title_container{
    -fx-background-color: #f4f7fa;
    -fx-background-radius: 20 20 0 0;
    -fx-alignment: top_center;
    -fx-padding: 10;
}

.title_container FontAwesomeIconView{
    -fx-fill: #02326E;
}

.title_container Text{
    -fx-fill: #000000;
    -fx-font-size: 2em;
}

/*Nav*/

.menu_container {
    -fx-padding: 10 10 10 10;
    -fx-spacing: 20;
    -fx-background-color: #f4f7fa;

}

.menu_container Button{
    -fx-pref-width: 115;
    -fx-pref-height: 40;
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-text-fill: #02326E ;
    -fx-alignment: center_left;
    -fx-font-size: 1.1em;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD ,5, 0, 0, 6 );
}

.menu_container Button{
    -fx-cursor: hand;
}

.menu_container Button FontAwesomeIconView{
    -fx-fill: #02326E ;

}

.alt_menu_btn{
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
    -fx-alignment: center_left;
    -fx-pref-width: 115;
    -fx-pref-height: 40;
    -fx-background-color: #02326E ;
}

.alt_menu_btn FontAwesomeIconView{
    -fx-fill: white;
}

.report_container{
    -fx-background-color: white;
    -fx-spacing: 10;
    -fx-padding: 10 0 10 0;
    -fx-background-radius: 10;
    -fx-alignment: center;
}

.report_container Text {
    -fx-font-weight: bold;
    -fx-fill: #02326E;
}

.report_container Label{
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.report_container Button {
    -fx-pref-width: 80;
    -fx-background-color: #02326E;
    -fx-background-radius: 10;
    -fx-text-fill:  white;
}
.report_container Button:hover{
    -fx-cursor: hand;
}

.report_container Button FontAwesomeIconView{
    -fx-fill: white;
}


