.dashboard {
    -fx-background-color: linear-gradient(to bottom, #f4f7fa, #e8ecf3);

}

.user_name {
    -fx-font-size: 2.6em;
    -fx-font-family: "Calibri Light";
}

.date_lbl {
    -fx-text-fill: #AAAAAA;
    -fx-font-size: 1.1em;
    -fx-font-family: "Calibri Light";
}

.section_title{
    -fx-font-size: 1.4em;
    -fx-font-family: "Calibri Light";


}

.accounts_view {
    -fx-background-radius: 10 0 0 10;
    -fx-padding: 10 0 10 0;
    -fx-alignment: center;
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #DDDDDD;
    -fx-spacing: 10;
    -fx-background-color: transparent;

}

.account{
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 10, 0, 0 , 10);
}
.account VBox {
    -fx-background-color: #FFFFFF;
}
.account Text{
    -fx-fill: #FFFFFF;
    -fx-font-family: "Calibrii Light";
    -fx-font-size: 1.5em;
}

.account FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}


.account_gradient{
    -fx-background-color: linear-gradient(to right, #02326E, #00264D);
}

.account_balance{
    -fx-text-fill: white;
    -fx-font-family: Calibri;
    -fx-font-size: 3em;
    -fx-font-weight: bold;
}

.account_number{
    -fx-text-fill: white;
    -fx-font-family: Claibri;
    -fx-font-size: 1.5em;
    -fx-text-alignment: center;
}

.summary_view{
    -fx-background-color: transparent;
    -fx-padding: 5 10 5 10;
    -fx-spacing: 5;
    -fx-alignment: center_left;
}

.acc_summary_container{
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-alignment: center-left;
    -fx-background-radius: 13;
    -fx-border-width: 1;
    -fx-background-color: white;
}

.acc_summary_container Line{
    -fx-stroke: #AAAAAA;
}

.income_amount{
    -fx-text-fill: #0A021E;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.5em;
}


.expense_amount{
    -fx-text-fill: #AA0000;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.5em;
}

.transaction_listview{
    -fx-background-color: transparent;
    -fx-background-radius: 13;
}


.transaction_listview .scroll-bar:vertical {

    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-opacity: 0;
    -fx-padding: 0;


    -fx-background-color: transparent;
}


.transaction_listview .scroll-bar:vertical .increment-button,
.transaction_listview .scroll-bar:vertical .decrement-button {
    -fx-pref-height: 0;
    -fx-max-height: 0;
    -fx-opacity: 0;
    -fx-padding: 0;
}


.transaction_listview .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
}

.transaction_listview .scroll-bar:horizontal {
    -fx-max-height: 0;
    -fx-opacity: 0;
    -fx-padding: 0;
}

.list-cell{
    -fx-background-color: transparent;
    -fx-padding: 5px 0px 5px 0px;
}


.new_trans_container{
    -fx-background-color: white;
    -fx-padding: 20 10 20 10;
    -fx-spacing: 10;
    -fx-background-radius: 13;
    -fx-alignment: center_left;
}


.new_trans_container Label{
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.3em;

}

.new_trans_container TextField{
    -fx-pref-height: 40;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #AAAAAA;
    -fx-border-radius: 6;
    /*-fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 3, 0);*/
}

.new_trans_container TextArea{
    -fx-pref-height: 70;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #AAAAAA;
    -fx-border-radius: 6;
    /*-fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 3, 0);*/
}

.new_trans_container Button{
    -fx-background-color: linear-gradient(to right, #02326E, #00264D);
    -fx-background-radius: 6;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 3, 0);
    -fx-pref-width: 230;
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #FFFFFF;
}

.new_trans_container Button:hover{
    -fx-cursor: hand;
}


.chart-container {
    -fx-background-color: white;
    -fx-background-radius: 6;
    -fx-padding: 10;
    -fx-pref-width: 240;


}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-series-line {
    -fx-stroke-width: 3px;
    -fx-stroke: #02326E;
}

/* Hide the symbols on the line for a modern, clean look */
.default-color0.chart-line-symbol {
    -fx-background-color: transparent, transparent;
}

.axis {
    -fx-font-size: 0.8em;
    -fx-tick-label-fill: #555555;
    -fx-tick-length: 8;
    -fx-border-color: transparent;
}

.toggle-button {
    -fx-background-color: #F0F0F0;
    -fx-border-color: #CCCCCC;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-font-family: "Calibri Light";
}

.toggle-button:hover {
    -fx-background-color: #E0E0E0;
    -fx-cursor: hand;
}

.toggle-button:selected {
    -fx-background-color: linear-gradient(to right, #02326E, #00264D); /* Match your gradient */
    -fx-text-fill: white;
    -fx-border-color: #00264D;
}


.snapshot-container {
    -fx-background-color: white;
    -fx-background-radius: 13;
    -fx-padding: 10;
}

.snapshot-container .toggle-button {
    -fx-background-color: #f4f7fa;
    -fx-background-radius: 10;
    -fx-text-fill: #02326E ;
    -fx-alignment: center_left;
    -fx-font-size: 1em;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD ,5, 0, 0, 6 );
    -fx-font-weight: bold;
    -fx-font-family: "Calibri Light";
}

.snapshot-container .toggle-button:hover {
    -fx-background-color: #E0E0E0;
    -fx-cursor: hand;
}

.snapshot-container .toggle-button:selected {
    -fx-background-color: linear-gradient(to right, #02326E, #00264D);
    -fx-background-radius: 6;
    -fx-text-fill: white;
    /*-fx-border-color: #00264D;*/
}

.line-chart {
    -fx-horizontal-grid-lines-visible: false;
    -fx-vertical-grid-lines-visible: false;
}

.line-chart .chart-plot-background {
    -fx-background-color: transparent;
}

.line-chart .chart-series-line {
    -fx-stroke: #02326E;
    -fx-stroke-width: 3px;
}


.line-chart .chart-series-area-fill {
    -fx-fill: linear-gradient(to top, rgba(2, 50, 110, 0.3) 0%, rgba(2, 50, 110, 0.05) 100%);
}


.line-chart .axis {
    -fx-border-color: transparent;
}


.pie-chart {
    -fx-label-line-length: 10;
    -fx-legend-side: bottom;
    -fx-legend-visible: true;
}


.pie-chart .chart-pie-label {
    -fx-fill: transparent;
}
