.deposit_container{
    -fx-background-color: linear-gradient(to bottom, #f4f7fa, #e8ecf3);
}

.search_box{
    -fx-spacing: 10;
    -fx-border-color: #AAAAAA;
    -fx-border-width: 0 0 0 0;
}

.tittle Text{
    -fx-font-family: "Calibri Light";
    -fx-font-size: 2.5em;
    -fx-fill: #333333;
}

Text{
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.6em;
    -fx-fill: #555555;
}

TextField{
    -fx-pref-width: 200;
    -fx-pref-height: 35;
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0 , 3);

}

Button{
    -fx-font-size: 1.6em;
    -fx-text-fill: white;
    -fx-pref-width: 200;
    -fx-background-color: linear-gradient(to right, #02326E, #00264D);
    -fx-background-radius: 6;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 3, 0);
}

Button:hover{
    -fx-cursor: hand;
}



.list-view{
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-width: 0;
}

.list-cell{
    -fx-background-color: white;
    -fx-padding: 20 0 20 0;
}

.deposit_box{
    -fx-spacing: 20;
    -fx-padding: 20;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.6em;
    -fx-background-color: transparent;
}

