.friend-cell-container {
    -fx-padding: 5px;
    -fx-background-color: transparent;
}

.payee-address {
    -fx-font-family: "Calibri";
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}


.remove-friend-button {
    -fx-background-radius: 20em;
    -fx-background-color: #DC3545;
    -fx-cursor: hand;
}

.remove-friend-button:hover {
    -fx-background-color: #c82333;
}

.remove-friend-button .glyph-icon {
    -fx-fill: white;
}