.login_container {
    -fx-background-color: linear-gradient(to bottom, #f4f7fa, #e8ecf3);
}


.login_logo_container{
    -fx-background-color: linear-gradient(to left, #02326E, #00264D);
    -fx-alignment: center;
}

.login_logo_container Text {
    -fx-font-size: 2em;
    -fx-fill: #FFFFFF;
}

.login_logo_container FontAwesomeIconView {
    -fx-fill: white;
}

.account_selector {
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3,0,0,3);
}

.account_selector .label{
    -fx-text-fill: #02326E;
    -fx-font-size: 1.1em;

}

.account_selector .arrow {
    -fx-background-color: #02326E;
}

#choice-box-popup-menu{
    -fx-background-color: #FFFFFF;
}



#choice-prompt_text {
    -fx-font-weight: 400;
}

.login_form_container{
    -fx-spacing: 15;
    -fx-alignment: top_left;
}

.login_form_container Label{
    -fx-font-size: 1.1em ;
    -fx-font-weight: bold;
}

.input_field{
    -fx-background-color: #FFFFFF;
    -fx-pref-height: 35;
    -fx-font-size: 1.2em;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3,0,0,3);

}

.login_form_container Button{
    -fx-background-color: linear-gradient(to right, #02326E, #00264D);
    -fx-background-radius: 6;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 3, 0);
    -fx-pref-width: 350;
    -fx-pref-height: 30;
    -fx-font-size: 1.2em;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #FFFFFF;
}

.login_form_container Button:hover {
    -fx-cursor: hand;
}

.login_form_container Button:hover {
    -fx-background-color: #2F855A;
}
.error_lbl {
    -fx-text-fill: #E53E3E;
}