.cell_container {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.08), 10, 0, 0, 5);
}

.trans_date_lbl {
    -fx-font-family: "Calibri";
    -fx-font-size: 0.8em;
    -fx-text-fill: #888888;
}

.trans_pAddress_lbl {
    -fx-font-family: "Calibri";
    -fx-font-size: 0.8em;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.arrow-separator {
    -fx-fill: #AAAAAA;
}

.trans_amount_lbl {
    -fx-background-color: #00264D;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
    -fx-font-weight: bold;
    -fx-font-size: 0.8em;
    -fx-padding: 5px 8px 5px 8px;
}

.dollar-icon {
    -fx-fill: white;
}