.cell_container{
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 2.5,0,0,4);
}

.trans_icon_container{
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-spacing: 5;
    -fx-padding: 0 0 5 0;
}

.trans_date_lbl{
    -fx-text-fill: #AAAAAA;
    -fx-font-weight: 700;
    -fx-font-size: 0.8em;
}

.trans_pAddress_lbl{
    -fx-text-fill: #000000;
    -fx-font-weight: 700;

}

.cell_container Line{
    -fx-stroke: #EEEEEE;
}

.trans_amount_lbl {
    -fx-background-color: #00264D;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 2;
    -fx-padding: 5;
    -fx-font-weight: 700;
    -fx-font-size: 0.8em;
}

.trans_amount_lbl FontAwesomeIconView{
    -fx-fill: #FFFFFF;
}